#header{
	background-image: url("flatcatearth2.jpg");
	background-repeat: no-repeat;
	background-position: center;

}

#TV {
	position:absolute;
	top: 10px;
	left: 10px;
	z-index: 3;
	pointer-events: none;
}

.playerTV{
	position:absolute;
	top: 100px;
	left: 75px;
	z-index: 2;
	background-color: #000000;
	border-top: 20px, #000000;
	border-border: 20px, #000000; 
}